%h1.clearfix
  %span.fa-stack.fa-lg.pull-left
    %i.fa.fa-circle.fa-stack-2x
    %i.fa.fa-home.fa-stack-1x.fa-inverse
  My Next Flat
  %br/
  %span.small Where do you want to live today?

%p
  My Next Flat is a better search for finding your next flat, whether its in Leamington Spa, Edinburgh, or London!

%p We built My Next Flat because we found it really hard to navigate the streets and byways of finding just the right home in just the right spot. My Next Flat is pretty smart about finding properties in places you might want. And best of all, it'll let you know when something new pops up!
%p Get started!
