%h1.clearfix
  %span.fa-stack.fa-lg.pull-left
    %i.fa.fa-circle.fa-stack-2x
    %i.fa.fa-home.fa-stack-1x.fa-inverse
  My Next Flat
  %br/
  %span.small Where do you want to live today?

%p
  My Next Flat is a smarter search for finding your next flat, whether its in Leamington Spa, Edinburgh, or London!

%p
  We built My Next Flat because we found it really hard to navigate the streets and byways of finding just the right home in just the right spot. My Next Flat is pretty smart about finding properties in places you might want. And best of all, it'll let you know when something new pops up!

%p
  Get started!

%h2 Recent Listings
%p People have found the re
.row.highlights
  - @recent_listings.each do |listing|
    .col-sm-6.col-md-3
      .thumbnail
        = link_to listing_path(listing.id) do
          = image_tag listing.image_url, src: listing.caption
        .caption
          %h3= listing.address
          %p~ truncate listing.summary, seperator: ' ', length: 150
          %p= link_to 'Check it out!', listing_path(listing.id), class: 'btn btn-success btn-block'
