= render 'user_controls'

%h1.text-center
  %span.logo.fa-stack.fa-2x
    %i.fa.fa-circle.fa-stack-2x
    %i.fa.fa-home.fa-stack-1x.fa-inverse
  %br/
  my next flat

%p.lead.text-center.text-muted Where do you want to live today?
