-# Area...
%p
  I want to search in
  %code an area
  \...

%table.criteria
  %tbody
    %tr
      %td= f.label :radius, iconify('Radius', 'map-marker')
      %td= f.select :radius, options_for_radius, {}, class: 'form-control'
    %tr
      %td= f.label :area, iconify('Area', :search)
      %td= f.text_field :area, class: 'form-control'
