.container
  - if @search.message.present?
    - cache @search.message do
      .alert.alert-danger
        %p <strong>Oops!</strong> We encountered a problem with this search.
        %p= @search.message
  
  = render(partial: 'listings', object: @listings)
