$banner-ad-xs-height: 50px;
$banner-ad-xs-width:  320px;

$banner-ad-sm-height: 90px;
$banner-ad-sm-width:  728px;

div#banner-ad {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-lighter;
  border-top: 2px solid $gray-light;
  z-index: $zindex-navbar+1;
  
  iframe {
    display: block;
    height:  $banner-ad-xs-height;
    width:   $banner-ad-xs-width;
    border:  0px;
    margin:  0px auto;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $banner-ad-sm-width) {
  div#banner-ad {
    iframe {
      height:  $banner-ad-sm-height;
      width:   $banner-ad-sm-width;
    }
  }
}

