/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .footer {
    margin-top: 30px;
  }
}

/* change the input styles for these fields */
/*
form.madlib input[type=text],
form.madlib input[type=email],
form.madlib input[type=password],
form.madlib input[type=url],
form.madlib input[type=tel] {
*/
/*     margin-top:4px;  */
/*
    border-top:none; 
    border-right:none; 
    border-bottom:1px dashed #c2c2c2; 
    border-left:none; 
    background-color:none; 
    display: inline;
}

form.madlib .form-control {
    display: inline;
}
*/

#map_canvas {
  background-color: grey;
}

.highlights h3 {
  font-size: 125%;
}