/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require recurring_select
 *= require_self
 */
 
@import "theme";
@import "bootstrap";
@import "bootstrap/theme";

.heading {
  h1 {
    @extend .text-center;
    font-size: 24px;
    
    a {
      color: $headings-color;
      &:hover {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
}

#link-bar {
  // @extend .btn-group-justified;
}

h2.listing span.label {
  font-size: 40%;
}

.label-buy {
  @extend .label-success;
}

.label-let {
  @extend .label-danger;
}

.label-price {
  @extend .label-primary;
}

.label-beds {
  @extend .label-info;
}

.label-baths {
  @extend .label-info;
}

.label-receptions {
  @extend .label-default;
}

.label-cloud {
  font-size: 133%;
}
