/*
// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "theme";

@import url(//fonts.googleapis.com/css?family=Gloria+Hallelujah);

//html,body { height: 100%; margin: 0px; padding: 0px; }
html,body { height: 100%; }

#map {
  height: 100%;
}

#panel-container {
  @include container-fixed();
  height: 100%;

  #panels {
    @include make-row();
    height: 100%;
  
    #content-panel {
      @include make-sm-column(6);
      @include make-sm-column-push(6);
      @include make-md-column(5);
      @include make-md-column-push(7);
    }
    
    #map-panel {
      @include make-sm-column(6);
      @include make-sm-column-pull(6);
      @include make-md-column(7);
      @include make-md-column-pull(5);
      height: 100%;
      padding-left: 0px;
      position: fixed;
    }
  }
}

#page-listings {
  #panel-container {
    #panels {
      #content-panel {
        @include make-sm-column(8);
        @include make-sm-column-push(4);
        @include make-md-column(7);
        @include make-md-column-push(5);
      }
      
      #map-panel {
        @include make-sm-column(4);
        @include make-sm-column-pull(8);
        @include make-md-column(5);
        @include make-md-column-pull(7);
        height: 100%;
        padding-left: 0px;
        position: fixed;
      }
    }
  }
}

h1 {
  font-family: 'Gloria Hallelujah';
}




.emboss {
  box-shadow: 
  0 1px 2px #fff, /*bottom external highlight*/
/*
  0 -1px 1px #666, /*top external shadow*/ 
/*
  inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
/*
  inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
/*}

@mixin blur($radius) {
  filter: blur($radius * 1px);
  -webkit-filter: blur($radius * 1px);
  -moz-filter: blur($radius * 1px);
  -o-filter: blur($radius * 1px);
  -ms-filter: blur($radius * 1px);
  filter: url(blur.svg#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='$radius');
}

div.backgroundFrame {
  overflow: hidden;
  border: 2px solid white;
  
  div.background {
    @include blur(3);
    width: 100%;
    height: 250px;
    background: center center;
    background-size: cover;
    //margin: -5px 10px 10px -5px;
  }
}

div.tiltshift {
  margin: 30px auto;
  border: 10px solid #fff;
  display:inline-block;
  overflow: hidden;
  position: relative;
  //-webkit-filter: grayscale(100%);
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
          box-shadow: 5px 5px 10px rgba(0,0,0,0.8);

  -webkit-filter: contrast(110%) saturate(105%);
  -webkit-transform: rotate(5deg);

  img {
    -webkit-filter: blur(3px) contrast(115%) saturate(115%);
    -webkit-mask-box-image: -webkit-linear-gradient(black 25%, transparent 35%, transparent 65%, black 75%);
  }
}
*/
