$map-xs-height: 250px;
$map-height: 40%;

// Map
div#map-panel {
  width: 100%;
  height: $map-xs-height;
  position: fixed;
  left: 0;
  bottom: 0;
  
  margin-bottom: $banner-ad-xs-height;

  @media (min-width: $screen-xs-max) {
    margin-bottom: $banner-ad-sm-height;
  }

  div#map {
    height: 100%;
  }
}