%hr/
.row.small.muted-text
  .col-md-8
    %p
      Copyright &copy; 2014 Ian Lloyd. All rights reserved.
      %br/
      We use
      = link_to 'Zoopla', 'http://www.zoopla.co.uk'
      to provide real-time property information.      
    %p
      Let us know your thoughts.
      = mail_to 'hello@signalcloudapp.com'

  .col-md-4.text-right
    %a{href: "http://www.zoopla.co.uk/"}
      %img{alt: "Property information powered by Zoopla", border: "0", height: "54", src: "http://www.zoopla.co.uk/static/images/mashery/powered-by-zoopla.png", title: "Property information powered by Zoopla", width: "111"}/