.heading#top

  = render 'user_controls'

  / Heading
  %h1
    =link_to root_path do
      %span.logo.fa-stack
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-home.fa-stack-1x.fa-inverse
      my next flat
